<html lang="es" ng-app="StarterApp">
  <head>
    <!-- CSS -->
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
      
    <!-- JS -->
    <!-- Angular Material Dependencies -->
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-animate.min.js"></script>
    <script src="js/angular/angular-aria.min.js"></script>
    <script src="js/angular/angular-material.min.js"></script>
    <script src="js/angular/angular-material-icons.min.js"></script>

    <script src="js/app.js"></script>
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body layout="column" ng-controller="AppCtrl">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>Hello World</h1>
      </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
          <img src="img/header.png" height="200">
          <md-list>
            <md-list-item ng-click="openToast()">
              <md-icon md-svg-icon="img/user.svg"></md-icon>
              <p>Data Usage</p>
            </md-list-item>
            <md-list-item  ng-click="navigateTo('data usage', $event)"> Item content in list</md-list-item>
            <md-list-item  ng-click="navigateTo('data usage', $event)"> Item content in list</md-list-item>
            <md-list-item  ng-click="navigateTo('data usage', $event)"> Item content in list</md-list-item>
            <md-list-item  ng-click="navigateTo('data usage', $event)"> Item content in list</md-list-item>
          </md-list>
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">
                <md-input-container class="md-icon-float">
                    <!-- Use floating label instead of placeholder -->
                    <label>Name</label>
                    <md-icon md-svg-src="img/user.svg" class="name"></md-icon>
                    <input ng-model="user.name" type="text">
                </md-input-container>

                <md-input-container md-no-float="">
                    <md-icon md-svg-src="img/user.svg"></md-icon>
                    <input ng-model="user.phone" type="text" placeholder="Phone Number">
                </md-input-container>

                <md-input-container>
                    <!-- Use floating placeholder instead of label -->
                    <md-icon md-svg-src="img/user.svg" class="email"></md-icon>
                    <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
                </md-input-container>

                <md-input-container md-no-float="">
                    <md-icon md-svg-src="img/user.svg" style="display:inline-block;"></md-icon>
                    <input ng-model="user.address" type="text" placeholder="Address">
                </md-input-container>
            </md-content>
        </div>
    </div>
  </body>
</html>