<md-dialog ng-controller="DialogDocenteController" flex-sm="100" flex-gt-sm="50" flex-gt-md="50" flex-gt-lg="50">
    <md-toolbar layout="row" class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <h1>Reinar Admin - Agregar Docente</h1>
        </div>
    </md-toolbar>
    <md-content class="md-padding"> 
        <form name="docenteForm">  
            <md-input-container flex>
                <md-select ng-model="docente.tipo_documento" placeholder="Tipo de documento" ng-required="true">
                    <md-option value="Registro Civil">Registro Civil</md-option>
                    <md-option value="Tarjeta de identidad">Tarjeta de Identidad</md-option>
                    <md-option value="Cedula de ciudadania">Cedula de ciudadanía</md-option>
                    <md-option value="Cedula Extranjera">Cedula de Extranjería</md-option>
                </md-select>    
            </md-input-container>
            <md-input-container flex> 
                <label>Número de Documento</label> 
                <input type="number" name="documento" ng-model="docente.documento" ng-required="true">
                <div ng-messages="docenteForm.documento.$error" ng-if="docenteForm.documento.$invalid && docenteForm.documento.$dirty">
                    <div ng-message="required">Campo Requerido</div>
                </div>
            </md-input-container>  
            <md-input-container flex> 
                <label>Primer Nombre</label> 
                <input type="text" name="primerNombre" ng-model="docente.primer_nombre" ng-required="true">
                <div ng-messages="docenteForm.primerNombre.$error" ng-if="docenteForm.primerNombre.$invalid && docenteForm.primerNombre.$dirty">
                    <div ng-message="required">Campo Requerido</div>
                </div>
            </md-input-container> 
            <md-input-container flex> 
                <label>Segundo Nombre</label> 
                <input type="text" name="segundoNombre" ng-model="docente.segundo_nombre" ng-required="true"> 
                <div ng-messages="docenteForm.segundoNombre.$error" ng-if="docenteForm.segundoNombre.$invalid && docenteForm.segundoNombre.$dirty">
                    <div ng-message="required">Campo Requerido</div>
                </div>
            </md-input-container> 
            <md-input-container flex> 
                <label>Primer Apellido</label> 
                <input type="text" name="primerApellido" ng-model="docente.primer_apellido" ng-required="true"> 
                <div ng-messages="docenteForm.primerApellido.$error" ng-if="docenteForm.primerApellido.$invalid && docenteForm.primerApellido.$dirty">
                    <div ng-message="required">Campo Requerido</div>
                </div>
            </md-input-container> 
            <md-input-container flex> 
                <label>Segundo Apellido</label> 
                <input type="text" name="segundoApellido" ng-model="docente.segundo_apellido" ng-required="true"> 
                <div ng-messages="docenteForm.segundoApellido.$error" ng-if="docenteForm.segundoApellido.$invalid && docenteForm.segundoApellido.$dirty">
                    <div ng-message="required">Campo Requerido</div>
                </div>
            </md-input-container> 
            <md-input-container flex> 
                <md-select ng-model="docente.sexo" placeholder="Sexo" ng-required="true">
                    <md-option value="M">M</md-option>
                    <md-option value="F">F</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex> 
                <label>Fecha de Nacimiento</label> 
                <input type="date" name="fechaNacimiento" ng-model="docente.fecha_nacimiento" ng-required="true"> 
                <div ng-messages="docenteForm.fechaNacimiento.$error" ng-if="docenteForm.fechaNacimiento.$invalid && docenteForm.fechaNacimiento.$dirty">
                    <div ng-message="required">Campo Requerido</div>
                </div>
            </md-input-container> 
            <md-input-container flex> 
                <label>Correo</label> 
                <input ng-model="docente.correo"> 
            </md-input-container> 
            <md-input-container flex> 
                <md-select ng-model="docente.salon" placeholder="Grado" ng-required="true" multiple>
                    <md-option ng-repeat="grado in listaCursos" value="{{grado.id}}">{{grado.salon}}</md-option>
                </md-select>
            </md-input-container> 
        </form> 
    </md-content> 
    <div class="md-actions" layout="row"> 
        <span flex></span> 
        <md-button ng-disabled="docenteForm.$invalid" ng-click="add()" class="md-primary"> Guardar </md-button> 
    </div>
</md-dialog>