<md-dialog flex-sm="100" flex-gt-sm="50" flex-gt-md="50" flex-gt-lg="50">
    <md-toolbar layout="row" class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <h1>Reinar Admin - Actualizar Estudiante</h1>
        </div>
    </md-toolbar>
    <md-content class="md-padding"> 
        <form name="estudianteForm">  
            <md-input-container flex>
                <md-select ng-model="estudiante.tipo_documento" placeholder="Tipo de documento" ng-required="true">
                    <md-option value="Registro Civil">Registro Civil</md-option>
                    <md-option value="Tarjeta de identidad">Tarjeta de identidad</md-option>
                    <md-option value="Cedula de ciudadania">Cedula de ciudadania</md-option>
                    <md-option value="Cedula Extranjera">Cedula Extranjera</md-option>
                </md-select>    
            </md-input-container>
            <md-input-container flex> 
                <label>Número de Documento</label> 
                <input type="number" name="documento" ng-model="estudiante.documento" ng-required="true"> 
                <div ng-messages="estudianteForm.documento.$error" ng-if="estudianteForm.documento.$invalid && estudianteForm.documento.$dirty">
                    <div ng-message="required">Campo Requerido</div>
                </div>
            </md-input-container>  
            <md-input-container flex> 
                <label>Primer Nombre</label> 
                <input type="text" name="primerNombre" ng-model="estudiante.primer_nombre" ng-required="true">
                <div ng-messages="estudianteForm.primerNombre.$error" ng-if="estudianteForm.primerNombre.$invalid && estudianteForm.primerNombre.$dirty">
                    <div ng-message="required">Campo Requerido</div>
                </div>
            </md-input-container> 
            <md-input-container flex> 
                <label>Segundo Nombre</label> 
                <input type="text" name="segundoNombre" ng-model="estudiante.segundo_nombre" ng-required="true"> 
                <div ng-messages="estudianteForm.segundoNombre.$error" ng-if="estudianteForm.segundoNombre.$invalid && estudianteForm.segundoNombre.$dirty">
                    <div ng-message="required">Campo Requerido</div>
                </div>
            </md-input-container> 
            <md-input-container flex> 
                <label>Primer Apellido</label> 
                <input type="text" name="primerApellido" ng-model="estudiante.primer_apellido" ng-required="true"> 
                <div ng-messages="estudianteForm.primerApellido.$error" ng-if="estudianteForm.primerApellido.$invalid && estudianteForm.primerApellido.$dirty">
                    <div ng-message="required">Campo Requerido</div>
                </div>
            </md-input-container> 
            <md-input-container flex> 
                <label>Segundo Apellido</label> 
                <input type="text" name="segundoApellido" ng-model="estudiante.segundo_apellido" ng-required="true"> 
                <div ng-messages="estudianteForm.segundoApellido.$error" ng-if="estudianteForm.segundoApellido.$invalid && estudianteForm.segundoApellido.$dirty">
                    <div ng-message="required">Campo Requerido</div>
                </div>
            </md-input-container> 
            <md-input-container flex> 
                <md-select ng-model="estudiante.sexo" placeholder="Sexo" ng-required="true">
                    <md-option value="M">M</md-option>
                    <md-option value="F">F</md-option>
                </md-select>
            </md-input-container> 
            <md-input-container flex> 
                <label>Fecha de Nacimiento</label> 
                <input type="date" name="fechaNacimiento" ng-model="estudiante.fecha_nacimiento" ng-required="true"> 
                <div ng-messages="estudianteForm.fechaNacimiento.$error" ng-if="estudianteForm.fechaNacimiento.$invalid && estudianteForm.fechaNacimiento.$dirty">
                    <div ng-message="required">Campo Requerido</div>
                </div>
            </md-input-container> 
            <md-input-container flex> 
                <label>Correo</label> 
                <input type="email" name="correo" ng-model="estudiante.correo">
                <div ng-messages="estudianteForm.correo.$error" ng-if="estudianteForm.correo.$invalid && estudianteForm.correo.$dirty">
                    <div ng-message="required">Formato de correo inválido</div>
                </div>
            </md-input-container> 
            <md-input-container flex> 
                <md-select ng-model="estudiante.salon" placeholder="Grado" ng-required="true">
                    <md-option ng-repeat="grado in listaCursos" value="{{grado.id}}">{{grado.salon}}</md-option>
                </md-select>
            </md-input-container> 
        </form> 
    </md-content>
    <div class="md-actions" layout="row"> 
        <span flex></span> 
        <md-button ng-disabled="estudianteForm.$invalid" ng-click="update()" class="md-primary"> Actualizar </md-button> 
    </div>
</md-dialog>