<div flex layout="row" layout-align="center center" class="cuerpo">
    <div flex-sm="100" flex-gt-sm="50" flex-gt-md="50" flex-gt-lg="50" class="md-whiteframe-z2"> 
        <img ng-src="img/icono.png" class="imagen-form">
        <md-content class="md-padding">
            <div flex-sm="100" flex-gt-sm="50" layout-sm="column">
                <form name="loginForm">
                    <md-input-container>
                        <label>Usuario:</label>
                        <input name="username" ng-model="User.username" ng-required="true">
                        <div ng-messages="loginForm.username.$error" ng-if="loginForm.username.$invalid && loginForm.username.$dirty">
                            <div ng-message="required">Campo Requerido</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Contraseña:</label>
                        <input type="password" name="password" ng-model="User.password" ng-required="true">
                        <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$invalid && loginForm.password.$dirty">
                            <div ng-message="required">Campo Requerido</div>
                        </div>
                    </md-input-container>
                </form>
            </div>
        </md-content>
        <div class="md-actions" layout="row"> 
            <span flex></span> 
            <md-button ng-disabled="loginForm.$invalid"  md-no-ink="" class="md-raised md-primary" ng-click="Login()">Ingresar</md-button>
        </div>
    </div>
</div>