<md-toolbar layout="row" ng-init="verificarLogin()">
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
            <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>Reinar Admin</h1>
    </div>
</md-toolbar>
<div layout="row" ng-controller="AppCtrl">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 sidenav-custom" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <img ng-src="img/usuario.png">
            <md-list>
                <md-list-item ng-click="Siguiente('cursos')">
                    <md-icon md-svg-icon="img/profesor.svg"></md-icon>
                    <p>Cursos</p>
                </md-list-item>
                <md-list-item ng-click="Siguiente('profesores')">
                    <md-icon md-svg-icon="img/profesor.svg"></md-icon>
                    <p>Profesor</p>
                </md-list-item>
                <md-list-item ng-click="Siguiente('estudiante')">
                    <md-icon md-svg-icon="img/estudiante.svg"></md-icon>
                    <p>Estudiante</p>
                </md-list-item>
                <md-list-item ng-click="Siguiente('puntaje')">
                    <md-icon md-svg-icon="img/puntaje.svg"></md-icon>
                    <p>Puntuación</p>
                </md-list-item>
            </md-list>
        </md-sidenav>
    <div flex-sm="100" flex-gt-sm="50" flex-gt-md="25" flex-gt-lg="25" layout="column">
        <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline titles-cards">Profesor</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img ng-src="img/profesor.png">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="Siguiente('profesores')">Ir</md-button>
                </md-card-actions>
            </md-card>
    </div>
    <div flex-sm="100" flex-gt-sm="50" flex-gt-md="25" flex-gt-lg="25" layout="column">
        <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline titles-cards">Estudiante</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <img ng-src="img/estudiante.png">
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Ir</md-button>
                </md-card-actions>
            </md-card>
    </div>
    <div flex-sm="100" flex-gt-sm="50" flex-gt-md="25" flex-gt-lg="25" layout="column">
        <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline titles-cards">Puntaje</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img ng-src="img/graficas.png">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Ir</md-button>
                </md-card-actions>
            </md-card>
    </div>
</div>